
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Varela&display=swap');
body{
    background-color: antiquewhite;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Inter", sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: aliceblue;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 50px;
    border-radius: 100px;
    padding: 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 75vh;
    background-color: #000;
    color: #fff;
    font-family: "Varela", sans-serif;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 13px;
    padding: 20px;
    background-image: url(Assets/ncs.png);
}

.bottom {
    position: sticky;
    background-color: #000;
    color: azure;
    height: 130px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 10px;
}

.icons i:hover {
    cursor: pointer;
}
/*targeting id="myProgressBar"*/
#myProgressBar {
    min-width: 75vh;
}

.songItem {
    display: flex;
}

.songItem img {
    width: 50px;
}

.community-section{

    width:100%;

    min-height:100vh;

    background:#000;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}

.community-content{

    max-width:1000px;

}

.community-content h1{

    color:#fff;

    font-size:72px;

    font-weight:700;

    margin-bottom:25px;

}

.community-content p{

    color:#d6d6d6;

    font-size:26px;

    margin-bottom:40px;

    line-height:1.5;

}

.community-content button{

    background:#22d85c;

    color:#000;

    border:none;

    padding:22px 70px;

    font-size:30px;

    font-weight:700;

    border-radius:50px;

    cursor:pointer;

    transition:0.3s ease;

}

.community-content button:hover{

    transform:scale(1.05);

}